.all-orderdetail{
    width: 100%;
    height: auto;
    background-color: white;
}
.all-orderdetail .orderdetail{
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.all-orderdetail .orderdetail .title{
    display: flex;
    justify-content: center;
    position: relative;
}
.all-orderdetail .orderdetail .info-orderdetail{
    justify-content: space-between;
    position: relative;
    height: 3rem;
    margin-top: 1rem;
}
.all-orderdetail .orderdetail .info-orderdetail .left{
    position: absolute;
    top: 0;
    left: 0;
}
.all-orderdetail .orderdetail .info-orderdetail .right{
    position: absolute;
    top: 0;
    right: 0;
}
.all-orderdetail .orderdetail hr{
    background-color: #f5f5f5;
    margin: 10px 0 15px;
}
.all-orderdetail .orderdetail .title .giohang{
    font-size: 2rem;
}
.all-orderdetail .orderdetail .title h3{
    color: #222;
}
.all-orderdetail .orderdetail .title .back{
    position: absolute;
    left: 0;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}
.all-orderdetail .orderdetail .title .back::before {
    content: '<';
    display: inline-block;
    margin-right: 0.2rem;
  }
.all-orderdetail .orderdetail .title .back:hover{
    color: red;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
}
.all-orderdetail .orderdetail .card .card-orderdetail .card-image{
    width: 10rem;
    height: 10rem;
}
.all-orderdetail .orderdetail .card .card-orderdetail .card-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.all-orderdetail .orderdetail .card .card-orderdetail button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    background-color: white;
    padding: 0rem 1rem;
}
.all-orderdetail .orderdetail .card .card-orderdetail button:hover{
    background-color: #222;
    color: white;
}
.all-orderdetail .orderdetail .card .card-orderdetail .card-content{
    gap: 0.5rem;
}
.all-orderdetail .orderdetail .card .card-orderdetail .card-content .card-name{
    font-size: 1.3rem;
}
.all-orderdetail .orderdetail .card .card-orderdetail .card-content .price-cost,
.all-orderdetail .orderdetail .card .card-orderdetail .card-content .card-quantity,
.all-orderdetail .orderdetail .card .card-orderdetail .card-content .subtotal{
    font-size: 1.1rem;
}
.all-orderdetail .orderdetail .card .card-orderdetail .card-content .price-cost .cost{
    text-decoration: line-through;
}
.all-orderdetail .orderdetail .card{
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
}
.all-orderdetail .orderdetail .card .card-orderdetail{
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
    position: relative;
}
.all-orderdetail .orderdetail .card .card-orderdetail .feature{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.all-orderdetail .orderdetail .card .card-orderdetail .feature .item{
    font-weight: bold;
    text-align: center;
    height: 2rem;
    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #666;
}
.all-orderdetail .orderdetail .info-payment,
.all-orderdetail .orderdetail .info-customer{
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
}
.all-orderdetail .orderdetail .info-payment .title,
.all-orderdetail .orderdetail .info-customer .title{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.all-orderdetail .orderdetail .info-payment .table{
    padding-left: 1rem;
}
.all-orderdetail .orderdetail .info-payment .table tr td{
    text-align: right;
}
.hr-container {
    position: relative;
  }
  
  .hr-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border: none;
    border-top: 1px solid #666;
  }
  .all-orderdetail .orderdetail .info-customer .content{
    font-size: 1.2rem;
  }
  .all-orderdetail .orderdetail .action-admin{
    justify-content: end;    
    margin-top: 2rem;
  }